//Heading

.h1 {
  @include font-nunito-regular;
  font-size: 4rem;
  line-height: 4rem;
}

//Text
.p {
  @include font-nunito-regular;
  @include text-p;
}

//buttons
.button-primary {
  @include font-nunito-regular;
  @include flex-center;
  @include text-p;
  border: none;
  cursor: pointer;
  border-radius: 8rem;
  width: 10rem;
  height: 3.4rem;
  background-color: $clor-yellow-primary;
  &:hover {
    background-color: $color-yellow-secondary;
  }
  &:disabled {
    color: $color-white;
    background-color: $color-grey-medium-secondary;
  }
  &:active {
    transform: scale(0.98);
  }
}
//radio-button
.radio-button {
  @include flex-center-vertical;
  gap: 1rem;
  .form__label-radio {
    @include font-nunito-regular;
    @include text-p;
    cursor: pointer;
    position: relative;
    padding-left: 2.5rem;
  }
  input {
    display: none;
  }
  .form__radio-button {
    @include font-nunito-regular;
    @include text-p;
    height: 1.6rem;
    width: 1.6rem;
    border: 1px solid $color-blue-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0.4rem;
    left: 0;
  }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-blue-primary;
    opacity: 0;
    transition: opacity 0.2s;
  }
  input:checked ~ .form__label-radio .form__radio-button::after {
    opacity: 1;
  }
}
sg-replace-icons input[type="radio"]:checked + label:before,
.sg-replace-icons
  input[type="radio"]:checked
  + label
  span.sg-icon-target:before,
.sg-replace-icons
  input[type="checkbox"].sg-input-checkbox:checked
  + label:before,
.sg-replace-icons
  input[type="checkbox"].sg-input-checkbox:checked
  + label
  span.sg-icon-target:before {
  color: #f06586;
}
//tooltip
.tooltip {
  display: inline-block;
}
//modal
.section-modal {
  height: 100%;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 100000000000000000000;
  position: fixed;
  top: 0;
  left: 0;
  .modal-container {
    width: 360px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $color-grey-medium-secondary;
    border-radius: 5px;
    background-color: $color-white;
    .modal-text-success {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      padding: 5rem 0;
      svg {
        width: 70px;
        height: 70px;
        margin-right: auto;
        margin-left: auto;
      }
      text-align: center;
      font-weight: bold;
      font-size: 1.4rem;
    }
    .modal-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 1rem;
      p {
        font-size: 1.4rem;
        font-weight: bold;
      }
      .modal-close {
        width: 25px;
        height: 25px;
        border: none;
        background-color: rgb(0, 0, 0, 0);
        .button-close {
          @include button;
          background-image: url(../img/cancel.svg);
        }
      }
    }
    .modal-text {
      border-top: 1px solid $color-grey-medium-secondary;
      border-bottom: 1px solid $color-grey-medium-secondary;
      padding: 2rem 1rem;
      p {
        font-size: 1.2rem;
        font-weight: bold;
      }
      span {
        font-size: 1rem;
        color: $color-grey-medium-secondary;
      }
    }
    .modal-control-button {
      padding: 1rem;
      display: flex;
      gap: 2rem;
      justify-content: flex-end;
      button {
        padding: 0.6rem;
        color: $color-white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: $color-grey-medium-secondary;
        }
      }
      .modal-control-button-save {
        background-color: $color-blue-primary;
        &:hover {
          background-color: rgb(0, 189, 211, 0.7);
        }
      }
      .modal-control-button-cancel {
        background-color: rgb(0, 0, 0, 0.7);
      }
    }
  }
}
//scroll button
.scroll-button {
  width: 3.5rem;
  height: 3.5rem;
  position: fixed;
  outline-offset: 0;
  border-width: 0;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: rgba(55, 48, 48, 0.6);
  background-image: url(../img/scrolltopicon.svg);
  background-size: 100%;
  background-position: center;
  cursor: pointer;
  @media screen and (max-width: 1200px) {
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(55, 48, 48, 0.9);
  }
}
// spinner
.spinner-container {
  padding: 5rem 1rem 1rem 1rem;
  text-align: center;
}
.spinner {
  color: rgb(229, 231, 235);
  height: 50px;
  width: 50px;
  fill: #1c64f2;
}

// Animation Spin
.animation-spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.tooltip .tooltiptext {
  @include font-nunito-regular;
  @include text-p;
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 1rem;
  display: block;
  /* Position the tooltip */
  position: absolute;
  z-index: 1000000000;
  top: 82%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
//input
.error-input {
  border: 2px solid $color-red-error !important;
}
.error-img {
  border-bottom: 2px solid $color-red-error !important;
  border-right: 2px solid $color-red-error !important;
  border-top: 2px solid $color-red-error !important;
}
.input {
  @include text-p;
  @include font-nunito-regular;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  width: 32.8rem;
  height: 5.4rem;
  background-color: $color-grey-light-primary;
  border: 1px solid $color-grey-light-secondary;
  border-radius: 4px;

  label {
    @include font-nunito-regular;
    font-size: 1.2rem;
    .error {
      color: $color-red-error;
    }
  }
  &::placeholder {
    color: $color-grey-placeholder;
  }
  &-error {
    border: 2px solid $color-red-error;
  }
}

//input upload
input[type="file"]::file-selector-button {
  @include font-nunito-regular;
  @include text-p;
  visibility: hidden;
}
.input-file-container {
  display: flex;
  .input {
    border-left: none;
    border-top-left-radius: none !important;
    border-bottom-left-radius: none !important;
    margin-left: -1.9rem;
    color: $color-black;
    width: 24.5rem;
  }
  .input-file {
    @include font-nunito-regular;
    @include text-p;
    background-color: $color-white;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-right: 1.6rem;
    height: 5.4rem;
    border: 1px solid rgba(0, 0, 0, 0.87);
    border-radius: 4px 0px 0px 4px;
    z-index: 1000;
    width: 8.3rem;
    position: relative;
    cursor: pointer;
    &::before {
      @include center-absolute;
      content: "Upload";
      text-align: center;
      vertical-align: center;
    }
    &:hover {
      background-color: $color-black;
      color: $color-white;
    }
  }
}

.truncate {
  width: 24.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and (max-width: 360px) {
    width: 28.5rem;
  }
  @media screen and (max-width: 520px) {
    width: 36rem;
  }
  @media screen and(max-width: 768px) {
    width: 30.5rem;
  }
}
//card
.card-item {
  width: 28.2rem;
  padding: 2rem;
  background-color: $color-white;
  border-radius: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  @media screen and (max-width: 360px) {
    width: 32.5rem;
  }
  @media screen and (max-width: 520px) {
    width: 40rem;
  }
  @media screen and(max-width: 768px) {
    width: 34.5rem;
  }

  &-img {
    @include flex-center-horizontal;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  &-name {
    @include font-nunito-regular;
    @include text-p;
    text-align: center;
    position: relative;
  }
  @include flex-center-horizontal;
  flex-direction: column;
  &-list {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @include font-nunito-regular;
    @include text-p;
    padding: 2rem 0;
    li {
      text-align: center;
      a {
        @include font-nunito-regular;
        @include text-p;
        text-decoration: none;
        color: $color-black;
        cursor: pointer;
      }
    }
  }
}

//nav
.nav {
  height: 6rem;
  width: 100%;
  background-color: $color-white;
  @include flex-center-vertical;
  gap: 1.4rem;
  .container {
    padding-left: 6rem;
    padding-right: 6rem;
    @media screen and (max-width: 768px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    @media screen and (max-width: 360px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .nav-container {
    @include flex-center-vertical;
    justify-content: space-between;
    @media screen and (max-width: 360px) {
      gap: 1rem;
    }
    .nav-log {
      img {
        width: 64px;
        height: auto;
        cursor: pointer;
      }
    }
    .nav-list {
      @include flex-center-vertical;
      gap: 1rem;
    }
  }
}
// header
.header {
  .container {
    padding-left: 6rem;
    padding-right: 6rem;
    @media screen and (max-width: 1028px) {
      padding-left: 0;
      padding-right: 0;
    }
    .header-container {
      @include flex-center;
      content: "";
      width: 100%;
      min-height: 64.8rem;
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.45) 0%,
          rgba(0, 0, 0, 0.45) 100%
        ),
        url("../img/pexels-alexandr-podvalny-1227513.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color: $color-white;
      .content {
        max-width: 47rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        transform: translateX(-400%);
        @media screen and (max-width: 360px) {
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }
    }
  }
}

//team
.team-section {
  &-container {
    @include flex-center-vertical;
    @include mtop-section;
    gap: 5rem;
    margin-top: 14.5rem;
    flex-direction: column;
    h1 {
      text-align: center;
    }
    .card-container {
      @include flex-center-horizontal;
      display: grid;
      grid-template-columns: 282px 282px 282px;
      justify-items: center;
      gap: 2rem;

      @media screen and(max-width: 768px) {
        grid-template-columns: 34.5rem 34.5rem;
      }
      @media screen and (max-width: 520px) {
        grid-template-columns: 40rem;
      }
      @media screen and(max-width: 360px) {
        grid-template-columns: 32.5rem;
      }
    }
  }
}

//sign up
.signup-section {
  .signup-container {
    padding: 1rem;
    h1 {
      text-align: center;
    }
    @include mtop-section;
    @include flex-center-vertical;
    margin-bottom: 10rem;
    flex-direction: column;
    gap: 5rem;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4.5rem;
      .radio-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
      }
    }
  }
}

.success-section {
  .success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10rem;
  }
}
//404
.not-found {
  @include font-nunito-regular;
  padding: 2rem;
  background-color: $color-grey-medium-secondary;
  border-radius: 10px;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
